* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    
}

.logo{
background: none;
background: transparent;
background-image: none;

}

.login{
    width: 19vh;
    height:5vh;
    border-radius: 25px;
    background-color: rgb(146, 153, 153);
    font-size: 2vh;
    font-weight: 500;
    overflow: hidden;
    border:none;
    font-family: 'Play', sans-serif;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 1vh;
}

.login:hover, .login:focus, .login:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.loguitos{
width:2vh;
margin-left:5px;
}

#collasible-nav-dropdown{
    font-size: 3vh;
    font-family: 'Orbitron', sans-serif;
}


.banner{
	position: relative;
	width: 100%;
	height: calc(80vh - 50px);
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
    transition: all .1s ease-out;
    background-image: url('./images/home/cabecera.png');
    animation: banner 28s infinite linear;
    opacity:0.88;
    filter:alpha(opacity=60);
}



.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50%;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    
}

.filtro{
    width: 50%;
    /* background: linear-gradient(#ecc2ec, #e3a8f1); */
    background: rgb(102, 102, 243);
    opacity: 0.7;
    color:rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 10px;
    font-size: 3vh;
    font-family: 'Mina', sans-serif;
    text-align: center;
    padding-bottom:15px;
    padding-left:15px;
}

.venta{
    background: rgb(6, 241, 241);
    border-top-left-radius: 10px 10px;
    border-bottom-left-radius:10px 10px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    width:20vh;
    text-align: center;
    padding-top:15px;
    margin-bottom: 15px;
  }
  
  .venta:hover{
   -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }
  
  
  .alquiler{
    background: rgb(38, 38, 228);
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius:10px 10px;
    -webkit-transition-duration: 0.5s;
    width:20vh;
    text-align: center;
    padding-top:15px;
    margin-bottom: 15px;
  }
  
  
  
  .alquiler:hover{
     -webkit-transform: scale(1.2);
      transform: scale(1.2);
  }


  .sec{
      display: flex;
  }

@media screen and (min-width:200px) and (max-width:1200px){
    .filtro{
        margin-top:10vh;
        width: 100%;
        
    }
}


@media screen and (max-width:300px){
    .filtro{
    display:none;
   
    }
}


.cards{
    width: 20rem;
    box-sizing: content-box;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 5px #f2f5f5;
    transition: box-shadow 0.1s linear;
    
}


.btn {
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    position: relative;
    border:none;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(#17d3ca, #3aeb23);
  }
  .btn:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(6, 184, 255, 0);
    outline-offset: 50px;
    text-shadow: 1px 1px 6px #fff;
}
  


.cards:hover{
    box-shadow: 5px 10px 20px 1px rgb(0,0,0,0.253);
}

.cards-body{
    padding:3rem 0;

}

.cards-text{
    font-size: .9rem;
    padding:0.4rem 1.9rem;
} 


.cards-img-top{
    transform: scale(0.8);
    transition: transform 0.5s ease;
}
.cards-img-top:hover{
    transform: scale(1);
}

.overflow{
    overflow: hidden;
}


.logitos{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logitos img{
    width: 4vh;
}

.logitos img:hover{
    -webkit-transform: rotate(10deg) translateZ(0);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  
}